
* {
    box-sizing: border-box;
}

html{
    line-height: 1.6;
    color: rgb(36, 23, 47);
    background: #f0d7d7;
    font-family: 'Dosis', sans-serif;
}

#productlist {
    max-width: 1200px;
    margin: auto;
}


h1 {
    text-align: left;
    font-size: 1.5rem;
    color: #e04f4f;
    
    
}

#description {
    font-size: 1rem;
    color: rgb(57, 44, 173);
    padding: 0.75rem 5rem;

}

div.fieldbox {
    display: none;
  }

  
.flex-container {
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-around; 
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.flex-item {
    padding: 5px;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    background: #AFAFAF;
    text-align: center;
    font-weight: bold; 
    font-size: 3em; 
    line-height: 200px; 
}

footer{
    padding: 10px 50px 20px;
    text-align: center;

}
button{
    background-color: white;
    border: 1px solid #e04f4f;
    box-shadow: 5px 1px 1px rgb(44, 41, 41);

}
div.buttonposition{
    text-align: right;
}

button:hover{
    background-color: #e04f4f;
    border: #e04f4f;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

h4 {
    text-align: center;
    padding: 1.5rem 2.5rem;
    font-size: 1.5rem;
    color: black;
}

.card {
    margin: 1rem;
    background-color: #f1c5c5;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
   
}

.card:hover {
    box-shadow: 2px 5px 45px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width:600px) { 
    
}
