
* {
    box-sizing: border-box;
}

html{
    line-height: 1.6;
    color: rgb(36, 23, 47);
    background: #f0d7d7;
    font-family: 'Dosis', sans-serif;
}


h1 {
    text-align: left;
    font-size: 1.5rem;
    color: #e04f4f; 
}

#description {
    font-size: 1rem;
    color: rgb(57, 44, 173);
    padding: 0.75rem 5rem;

}

div.fieldbox {
    display: none;
  }

  
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; 
    padding: 5px;
    margin: 0;
    list-style-type: none;
}

.flex-div {
    padding: 10px;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    background: #f7eaea;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
#delete-checkbox {
width:auto;
float:left;
}

footer{
    padding: 10px 50px 20px;
    text-align: center;

}
button{
    background-color: white;
    border: 1px solid #e04f4f;
    box-shadow: 5px 1px 1px rgb(44, 41, 41);

}
div.buttonposition{
    text-align: right;
}

button:hover{
    background-color: #e04f4f;
    border: #e04f4f;
}

h4 {
    text-align: center;
    padding: 1.5rem 2.5rem;
    font-size: 1.5rem;
    color: black;
}