/* Common styling */

#body {
    padding: 2%;
    margin-bottom: 5%;
}

#footer {
    padding: 2%;
    text-align: center;
    color: grey;
    font-size: 0.75rem;
    
}

body {
    background-color: #FAD4D4;
}

hr {
    border: solid grey 1px;
    border-bottom: none;
    margin: 0;
}

/* Navbar section */

.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #F47C7C;

}

.navbar-brand:hover{
    color: #F47C7C;

}

.btn-style {
    background-color: #FFF2F2;
}

.btn-style:hover {
    background-color: #EF9F9F;
}

.button-position{
    text-align: right;
}


.card{
    background-color: #FFF2F2;
    padding: 2%;
    text-align: center;
    margin: 2%;

}

.delete-checkbox{
    width:auto;
    float:left;
}

/* Form section */

.description {
    font-size: 1rem;
    color: rgb(57, 44, 173);
}

.label-format {
    text-align: center;
    font-weight: bold;
}

